# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build
dist/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
